.profile__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: #FFFFFF;

  max-width: 498px;
  margin: 0;
  grid-area: title;
  align-self: end;
  justify-self: start;
  padding-left: 30px;


  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
