.header__underscord {
  border-bottom: 1px solid #545454;
  width: 100%;
  padding-top: 41px;
  opacity: .7;
}

@media screen and (max-width: 740px) {
  .header__underscord {
    padding-top: 32.6px;
  }
}
